.container {
  height: 95vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #12122b;
}

.form {
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  flex-flow: column;
  align-items: center;
  background-color: #383845;
  border-radius: 10px;
}
.form .titulo {
  color: #0098bd;
  font-weight: bold;
  font-size: 1.5rem;
  width: 90%;
  text-align: center;
}
.form .titulo::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  margin-top: 1.2rem;
  background-color: #0098bd;
}
.form .container___data {
  width: 100%;
  height: 50%;
  padding: 1rem;
}
.form .container__email, .form .container___password {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.form .container__email .label, .form .container___password .label {
  font-weight: bold;
  font-size: 1.2rem;
  color: #0098bd;
}
.form .container__email .input, .form .container___password .input {
  padding: 1rem;
  border-radius: 5px;
  width: 89%;
  margin: 0 5px;
}
.form .container__email .input::-moz-placeholder, .form .container___password .input::-moz-placeholder {
  font-size: 1.1rem;
}
.form .container__email .input:-ms-input-placeholder, .form .container___password .input:-ms-input-placeholder {
  font-size: 1.1rem;
}
.form .container__email .input::placeholder, .form .container___password .input::placeholder {
  font-size: 1.1rem;
}
.form .container__email .input:focus, .form .container___password .input:focus {
  outline: none;
}

.success {
  border: 2px solid green;
}

.error {
  border: 2px solid red;
}

.msg__error {
  display: block;
  color: rgb(212, 30, 30);
  margin-left: 10px;
  font-weight: bold;
}

.none {
  display: none;
}

.btn {
  width: 90%;
  padding: 1rem;
  background-color: #0098bd;
  border-radius: 15px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  color: white;
}

.container__conselho {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202632;
}

.container__gerador {
  min-height: 200px;
  height: auto;
  width: 400px;
  border-radius: 15px;
  background-color: #313a49;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.titulo {
  color: #53ffab;
}

.conselho {
  color: white;
  font-weight: 800;
  line-height: 1.3rem;
  margin: 8px;
  text-align: center;
}

.img__divider {
  width: 90%;
}
.img__divider img {
  width: 100%;
}

.btn__dado {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -35px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #53ffab;
  cursor: pointer;
  border: none;
}
.btn__dado:hover {
  box-shadow: 0.1px 0.1px 50px #53ffab;
}
.btn__dado .img__dado {
  height: 15px;
}

.attribution {
  font-size: 1.2rem;
  text-align: center;
  background-color: #313a49;
  padding: 1rem;
}
.attribution a {
  color: white;
  text-decoration: none;
}
.attribution a:hover {
  color: #00aec1;
  text-shadow: 0.1px 0.1px 15px #00aec1;
}

* {
  list-style: none;
}
* html, * body, * div, * span, * applet, * object, * iframe,
* h1, * h2, * h3, * h4, * h5, * h6, * p, * blockquote, * pre,
* a, * abbr, * acronym, * address, * big, * cite, * code,
* del, * dfn, * em, * img, * ins, * kbd, * q, * s, * samp,
* small, * strike, * strong, * sub, * sup, * tt, * var,
* b, * u, * i, * center,
* dl, * dt, * dd, * ol, * ul, * li,
* fieldset, * form, * label, * legend,
* table, * caption, * tbody, * tfoot, * thead, * tr, * th, * td,
* article, * aside, * canvas, * details, * embed,
* figure, * figcaption, * footer, * header, * hgroup,
* menu, * nav, * output, * ruby, * section, * summary,
* time, * mark, * audio, * video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */