
.container__conselho {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #202632;
}
.container__gerador {
    min-height: 200px;
    height: auto;
    width: 400px;
    border-radius: 15px;
    background-color:   #313a49;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    ;
}
.titulo {
    color:#53ffab;
}
.conselho { 
    color: white;
    font-weight: 800;
    line-height: 1.3rem;
    margin: 8px;
    text-align: center
    ;

}
.img__divider {
    width: 90%;
    & img {
        width: 100%;
    }
}

.btn__dado {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -35px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #53ffab;
    cursor:pointer;
    &:hover {
        box-shadow: .1px .1px 50px #53ffab
    }
    ;
    border:none;
    .img__dado {
        height: 15px;
    }
}
.attribution { 
    font-size: 1.2rem; 
    text-align: center;
    background-color: #313a49;
    padding:1rem;
   a { 
    color:white;
    text-decoration: none;
    &:hover {
        color:#00aec1;
        text-shadow: .1px .1px 15px #00aec1 ;
    }
 }

}
